.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
Paper/
spectre_rcpp_dev/spectre_rcpp_dev.pro.user
build-*
/Rplot.png
/common.png
/common_old.png
/energy.png
/energy_old.png
/fake_common.png
/fake_energy.png
/scaling.png
*Rplot.pdf
min_conf_2_unscaled_axis.pdf
results/*.rds
results_min_conf_0/*.rds
results_min_conf_1/*.rds
bird_study_MSP